* {
  width: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  background-image: url(concrete\ pots.jpg);
  font-family: sans-serif;
}

.Menu-Bar {
  width: auto;
  background: rgb(3, 24, 3);
  text-align: center;
}

.Menu-Bar ul {
  display: inline-flex;
  list-style: none;
  color: aliceblue;
}

.Menu-Bar li {
  width: 120px;
  margin: 10px;
  padding: 10px;
}

.Menu-Bar ul li a {
  text-decoration: none;
  color: aliceblue;
}

.active, .Menu-Bar ul li:hover {
  border-bottom: 4px solid #ff000d;
  border-radius: 3px;
}

.Menu-Bar .fa {
  margin-right: 8px;
}

.sub-menu-1 {
  display: none;
}

.Menu-Bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background-color: rgb(15, 15, 15);
  margin-top: 15px;
  margin-left: 15px;
}

.Menu-Bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.Menu-Bar ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.Menu-Bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}

.Menu-Bar ul li:hover .sub-menu-1 ul li a:hover {
  color: #0cf1de;
}